button{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightslategrey;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(47, 255, 210);
    font-weight: bold;
    padding:30px 50px;
    color:white;
}

body{
    margin: 0;
    background: lightseagreen;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.container{
background-color: white;
border-radius: 5px;
padding:100px;
box-shadow: 0 0 10px 2px;
}
.btn-grid{
    display:grid;
    grid-template-columns: repeat(2,auto);
    gap:50px;
    margin:70px 0;
}
.btn:hover{
    border-color:black;
}
.start-btn, .next-btn, .restart-btn{
    font-size: 30px;

}
.controls{
    display:flex;

}
.hide{
    display:none;
}
.timer{
    background-color: white;
border-radius: 5px;
padding:10px;
box-shadow: 0 0 10px 2px;
margin-bottom:30px;
}